*.log*
*.jar
.project
.settings
*/target/*
*/logs/*
sop-config-service/target/
sop-asn-service/target/
sop-assignment-service/target/
sop-config-service/logs/
sop-asn-service/logs/
sop-assignment-service/logs/
